<h1>String Interpolation</h1>
<p>
  {{ stringInterpolation }}
  {{ numberInterpolation }}
</p>
<hr />
<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation">

<p [ngClass]="{ redBorder: onTest() }">Is this styled?</p>
<p [ngStyle]="{ color: 'green' }">Is this styled?</p>

<h3>Custom Prooerty Binding</h3>
<app-property-binding [result]="10"></app-property-binding>

<hr />

<h1>Event Binding</h1>
<app-event-binding (clicked)="onClicked($event)"></app-event-binding>

<hr>

<h1>Two Way Binding</h1>
<app-two-way-binding></app-two-way-binding>
